body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.ast-control-container {
    margin-top: 16px;
    margin-bottom: 16px;
}

.ast-progress-bar {
    width: 100%;
    margin: 0;
}

.square-button {
    all: initial;
    border-radius: 10%;
}

.square-button:disabled {
    opacity: 25%;
}

.square-button:enabled:hover {
    background-color: #00000020;
}

.square-button:enabled:active {
    background-color: #00000040;
}

.volume-control {
    vertical-align: middle;
}

.track-list {
    list-style: none;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}